@*@{
    ViewData["Title"] = "Payment Canceled";
}
<h2>Plaćanje Otkazano</h2>
<p>Vaše plaćanje je otkazano. Molimo pokušajte ponovo ili kontaktirajte podršku ukoliko vam je potrebna pomoć.</p>*@

@{
    ViewData["Title"] = "Payment Canceled";
}

<link rel="stylesheet" href="/css/checkout-cancel.css" />

<div class="container mt-5">
    <div class="card bg-dark text-white shadow-lg border-danger fade-in" style="border-radius: 15px;">
        <div class="card-body">
            <h2 class="card-title text-center">Plaćanje Otkazano</h2>
            <p class="card-text text-center">
                Vaše plaćanje je otkazano. Molimo pokušajte ponovo ili kontaktirajte podršku ukoliko vam je potrebna pomoć.
            </p>
        </div>
    </div>
</div>
