@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/home.css" />

<div class="welcome-container fade-in">
    <h1 class="welcome-text">DOBRODOŠLI U ČAROBNI SVIJET KINEMATOGRAFIJE</h1>
    <a class="btn btn-explore" asp-controller="Movies" asp-action="Index">
        🎬 Rezerviši svoje mjesto
    </a>
</div>