
<link rel="stylesheet" href="~/css/contact.css"/>

<div class="contact-info">
    <span><i class="bi bi-clock-fill"></i> Radno vrijeme: 08:00 - 22:00</span>
    <span><i class="bi bi-geo-alt-fill"></i> Hilandarska 30, Istočno Sarajevo</span>
    <span><i class="bi bi-telephone-forward-fill"></i> (+387) 66-135-289</span>
    <a class="contact-button" href="mailto:admin@cinemastore.com">
        <i class="bi bi-envelope"></i> Imate pitanje? Pišite!
    </a>
</div>
