@model ShowTimeVM
<div class="col">
    <div class="card-body text-white">
        <p class="card-text">
            <strong>
                Odaberite termin:
                <br />
            </strong>
        </p>
    </div>
</div>